<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testbasis.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @testbasis.age %>
</p>

<%= link_to 'Edit', edit_testbasis_path(@testbasis) %> |
<%= link_to 'Back', testbases_path %>
